# ------------------------------------------------------
# directories excluded from version control
# ------------------------------------------------------
.idea/
identity-service/target/

# ------------------------------------------------------
# fiels excluded from version control
# ------------------------------------------------------
*.versionsBackup
*.class
*.iml
